<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.mymapper">
	<select id="getMaxBbsId" resultType="Integer">
		select max(seqno) as max_id from bbs
	</select>
	<insert id="putBBS" parameterType="model.Bbs">
		insert into bbs values(#{seqno},#{title},#{content},#{bbs_date},#{id})
	</insert>
	
	
	<select id="getUser" resultType="model.User" parameterType="String">
	 	select user_id as id, user_name as name, password, postcode, address, email, job
	 	from user_account where user_id = #{id}
	</select>
	<select id="getPassword" resultType="String" parameterType="String">
	 	select password from user_account where user_id = #{id}
	</select>
	<select id="checkId" resultType="Integer" parameterType="String">
		select count(*) from user_account where user_id = #{id}
	</select>
	
	
	<select id="getBbsList" resultType="model.Bbs" parameterType="model.Condition">
		select seqno,title,id,content,bbs_date from
		(
			select a.*, rownum rn from
			(
				(select * from bbs order by seqno desc) a
			)
		)where rn between #{startRow} and #{endRow}
	</select>
	<select id="getBbsDetail" resultType="model.Bbs" parameterType="Integer">
		select * from bbs where seqno = #{seqno}
	</select>
	<select id="getBbsCount" resultType="Integer">
		select count(*) as num from bbs
	</select>
	
	
	<insert id="putUser" parameterType="model.User">
		insert into user_account(user_id, user_name, password, email, job, gender) 
		values(#{id},#{name},#{password},#{email},#{job},#{gender})
	</insert>
	
	
	<select id="getMaxCode" resultType="Integer">
		select max(code) from item_info
	</select>
	<insert id="putItemInfo" parameterType="model.ItemInfo">
		insert into item_info(code,name,price,info,origin) values
		(#{code},#{name},#{price},#{info},#{origin})
	</insert>
	
	
	<select id="getItemInfoList" resultType="model.ItemInfo" parameterType="model.Condition">
		select code,name,price,info,origin from
		(
			select a.*, rownum rn from
			(
				(select * from item_info order by code desc) a
			)
		)where rn between #{startRow} and #{endRow}
	</select>
	<select id="getItemInfoCount" resultType="Integer">
		select count(*) as num from item_info
	</select>
	<select id="getItemInfoDetail" resultType="model.ItemInfo" parameterType="Integer">
		select * from item_info where code = #{code}
	</select>
	
	
	<select id="selectMaxCart" resultType="Integer">
		select max(seqno) max_seqno from cart
	</select>
	<insert id="insertCart" parameterType="model.CartItem">
		insert into cart values(#{seqno},#{code},#{num},#{id})
	</insert>
	<delete id="deleteCart" parameterType="model.CartItem">
		delete from cart where code=#{code} and id = #{id}
	</delete>
	<update id="updateCart" parameterType="model.CartItem">
		update cart set num = #{num} where code = #{code} and id = #{id}
	</update>
	<select id="selectCart" resultType="model.CartItem" parameterType="String">
		select cart.code code, cart.num num, i.price price,
		i.name name from cart cart, item_info i
		where cart.code = i.code
		and cart.id = #{id} 
	</select>
	
	<select id="getMaxWritingId" resultType="Integer">
		select max(writing_id) max_id from image_writing
	</select>
	<insert id="insertWriting" parameterType="model.Writing">
		insert into image_writing(writing_id, register_date, writer_name, email, image_name, password, title, content) 
		values(#{writing_id},#{register_date},#{writer_name},#{email},#{image_name},#{password},#{title},#{content})
	</insert>
	<select id="getWritingInfoById" resultType="model.Writing" parameterType="Integer">
		select * from image_writing where writing_id = #{writing_id}
	</select>
	<select id="getWritingInfo" resultType="model.Writing" parameterType="model.Condition">
		select * from(
			select a.*, rownum rn from (
				(
					select * from image_writing
					order by group_id desc, order_no asc
				)a
			)
		) where rn between #{startRow} and #{endRow}
	</select>
	<delete id="deleteWritingInfo" parameterType="Integer">
		delete from image_writing where writing_id = #{writing_id}
	</delete>
	<update id="updateWritingInfo" parameterType="model.Writing">
		update image_writing set writer_name = #{writer_name}, email = #{email},
		title = #{title}, content = #{content}, image_name = #{image_name} where writing_id = #{writing_id}
	</update>
</mapper>