<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean class="example4.FileOutputter" id="outputter">
		<property name="filePath" value="out.txt"></property>
	</bean>
	<bean id="messageBean" class="example4.MessageBeanImpl">
		<property name="greeting" value="안녕하세요~"></property>
		<property name="outputter" ref="outputter"></property>
		<constructor-arg value="홍길동"></constructor-arg>
	</bean>
</beans>
